# 获取 Jetbrains 最新版下载地址 CLI 工具

![GitHub CI](https://github.com/designinlife/jetbrains/actions/workflows/ci.yml/badge.svg)
![GitHub go.mod Go version (branch & subdirectory of monorepo)](https://img.shields.io/github/go-mod/go-version/designinlife/jetbrains/master)
![GitHub Release Date - Published_At](https://img.shields.io/github/release-date/designinlife/jetbrains)
![GitHub release (with filter)](https://img.shields.io/github/v/release/designinlife/jetbrains)
![GitHub release (latest by SemVer)](https://img.shields.io/github/downloads/designinlife/jetbrains/v1.1.5/total)
![GitHub all releases](https://img.shields.io/github/downloads/designinlife/jetbrains/total)

## 编译二进制

```bash
make release
```

## 使用方法

```bash
jetbrains
```

## 最新下载地址

| NAME               |     SIZE | VERSION   | RELEASE DATE |
| :----------------- | -------: | :-------- | :----------: |
{{ range .Products }}
| {{ .Name }}           | {{ .Size }} | {{ .Version }}  |  {{ .ReleaseDate }}  |
{{ end }}

### Link for `Windows`

* <https://download-cf.jetbrains.com/webide/PhpStorm-2023.2.2.exe>
* <https://download-cf.jetbrains.com/go/goland-2023.2.2.exe>
* <https://download-cf.jetbrains.com/rider/JetBrains.Rider-2023.2.1.exe>
* <https://download-cf.jetbrains.com/cpp/CLion-2023.2.2.exe>
* <https://download-cf.jetbrains.com/python/dataspell-2023.2.2.exe>
* <https://download-cf.jetbrains.com/ruby/RubyMine-2023.2.2.exe>
* <https://download-cf.jetbrains.com/datagrip/datagrip-2023.2.1.exe>
* <https://download-cf.jetbrains.com/teamcity/TeamCity-2023.05.4.exe>
* <https://download-cf.jetbrains.com/idea/ideaIU-2023.2.2.exe>
* <https://download-cf.jetbrains.com/webstorm/WebStorm-2023.2.2.exe>
* <https://download-cf.jetbrains.com/resharper/dotUltimate.2023.2.1/JetBrains.dotUltimate.2023.2.1.exe>
* <https://download-cf.jetbrains.com/python/pycharm-professional-2023.2.1.exe>

### Link for `Linux`

* <https://download-cf.jetbrains.com/webide/PhpStorm-2023.2.2.tar.gz>
* <https://download-cf.jetbrains.com/go/goland-2023.2.2.tar.gz>
* <https://download-cf.jetbrains.com/rider/JetBrains.Rider-2023.2.1.tar.gz>
* <https://download-cf.jetbrains.com/cpp/CLion-2023.2.2.tar.gz>
* <https://download-cf.jetbrains.com/python/dataspell-2023.2.2.tar.gz>
* <https://download-cf.jetbrains.com/ruby/RubyMine-2023.2.2.tar.gz>
* <https://download-cf.jetbrains.com/datagrip/datagrip-2023.2.1.tar.gz>
* <https://download-cf.jetbrains.com/teamcity/TeamCity-2023.05.4.tar.gz>
* <https://download-cf.jetbrains.com/idea/ideaIU-2023.2.2.tar.gz>
* <https://download-cf.jetbrains.com/webstorm/WebStorm-2023.2.2.tar.gz>
* <https://download-cf.jetbrains.com/python/pycharm-professional-2023.2.1.tar.gz>

### Link for `Mac`

* <https://download-cf.jetbrains.com/webide/PhpStorm-2023.2.2.dmg>
* <https://download-cf.jetbrains.com/go/goland-2023.2.2.dmg>
* <https://download-cf.jetbrains.com/rider/JetBrains.Rider-2023.2.1.dmg>
* <https://download-cf.jetbrains.com/cpp/CLion-2023.2.2.dmg>
* <https://download-cf.jetbrains.com/python/dataspell-2023.2.2.dmg>
* <https://download-cf.jetbrains.com/ruby/RubyMine-2023.2.2.dmg>
* <https://download-cf.jetbrains.com/objc/AppCode-2023.1.4.dmg>
* <https://download-cf.jetbrains.com/datagrip/datagrip-2023.2.1.dmg>
* <https://download-cf.jetbrains.com/teamcity/TeamCity-2023.05.4.tar.gz>
* <https://download-cf.jetbrains.com/idea/ideaIU-2023.2.2.dmg>
* <https://download-cf.jetbrains.com/webstorm/WebStorm-2023.2.2.dmg>
* <https://download-cf.jetbrains.com/python/pycharm-professional-2023.2.1.dmg>
